* {
     margin: 0;
     padding: 0;
}

body {
     width: 100vw;
     height: 100vh;
     background-color: hsl(218, 44%, 22%);
     display: flex;
     justify-content: center;
     align-items: center;
     font-family: 'Courier New', Courier, monospace;
     font-size: 1.2em;
     color: #eee;
     font-weight: 550;
}

div {
     width: 300px;
     height: 450px;
     background-color: hsl(218, 44%, 22%);
     padding: 20px;
     border-radius: 20px;
     box-shadow: -5px -5px 10px hsla(219, 41%, 34%, 0.856), 5px 5px 10px rgba(17, 9, 9, 0.644);
}